% .gitignore
% ignore these files 
% Eric Brunner 03/04/2017

% Ignore git files
*.orig

% Ignore backup files
*~

% Ignore flight data
Scripts/FlightData/*

%Ignore MAC OS store files
**/.DS_Store
*.DS_Store
.DS_Store